/* button {
    background-color: #4CAF50;
    width: 100%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
} */


a,
label {
    font-family: "JetBrains Mono", monospace !important;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}

.container {
    width: 420px;
    padding: 25px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #FF0000, 0 0 20px #0000FF;
}

a {
    color: white;
}